ImportCFG/validation/FlowChart_Own.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">       
	<xs:element name="graph">
	  <xs:complexType>
		<xs:sequence>
		  <xs:element name="vertex" maxOccurs="unbounded" minOccurs="0">
			<xs:complexType mixed="true">
			  <xs:attribute type="xs:string" name="id" use="required"/>
			  <xs:attribute type="xs:string" name="value" use="required"/>
			  <xs:attribute type="xs:byte" name="vertex" use="required"/>
			</xs:complexType>
		  </xs:element>
		  <xs:element name="edge" maxOccurs="unbounded" minOccurs="0">
			<xs:complexType mixed="true">
			  <xs:attribute type="xs:string" name="id" use="required"/>
			  <xs:attribute type="xs:string" name="source" use="required"/>
			  <xs:attribute type="xs:string" name="target" use="required"/>
			  <xs:attribute type="xs:byte" name="edge" use="required"/>
			</xs:complexType>
		  </xs:element>
		</xs:sequence>
	  </xs:complexType>
	</xs:element>
</xs:schema>