ImportCFG/validation/FlowChart_Drawio.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="mxfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="diagram" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="mxGraphModel">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="root">
                      <xs:complexType>
                        <xs:choice maxOccurs="unbounded" minOccurs="0">
                          <xs:element name="mxCell">
                            <xs:complexType mixed="true">
                              <xs:sequence>
                                <xs:element name="mxGeometry" minOccurs="0">
                                  <xs:complexType mixed="true">
                                    <xs:sequence>
                                      <xs:element name="mxPoint" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute type="xs:short" name="x" use="optional"/>
                                              <xs:attribute type="xs:short" name="y" use="optional"/>
                                              <xs:attribute type="xs:string" name="as" use="optional"/>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="mxRectangle" minOccurs="0">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute type="xs:short" name="width" use="optional"/>
                                              <xs:attribute type="xs:byte" name="height" use="optional"/>
                                              <xs:attribute type="xs:string" name="as" use="optional"/>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="Array" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="mxPoint" maxOccurs="unbounded" minOccurs="0">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:short" name="x" use="optional"/>
                                                    <xs:attribute type="xs:short" name="y" use="optional"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute type="xs:string" name="as"/>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:byte" name="relative" use="optional"/>
                                    <xs:attribute type="xs:string" name="as" use="optional"/>
                                    <xs:attribute type="xs:short" name="x" use="optional"/>
                                    <xs:attribute type="xs:short" name="y" use="optional"/>
                                    <xs:attribute type="xs:short" name="width" use="optional"/>
                                    <xs:attribute type="xs:short" name="height" use="optional"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="id" use="optional"/>
                              <xs:attribute type="xs:string" name="parent" use="optional"/>
                              <xs:attribute type="xs:string" name="value" use="optional"/>
                              <xs:attribute type="xs:string" name="style" use="optional"/>
                              <xs:attribute type="xs:byte" name="edge" use="optional"/>
                              <xs:attribute type="xs:string" name="source" use="optional"/>
                              <xs:attribute type="xs:string" name="target" use="optional"/>
                              <xs:attribute type="xs:byte" name="vertex" use="optional"/>
                              <xs:attribute type="xs:byte" name="connectable" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="UserObject">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="mxCell" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="mxGeometry">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute type="xs:short" name="x"/>
                                              <xs:attribute type="xs:short" name="y"/>
                                              <xs:attribute type="xs:byte" name="width"/>
                                              <xs:attribute type="xs:byte" name="height"/>
                                              <xs:attribute type="xs:string" name="as"/>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="style"/>
                                    <xs:attribute type="xs:byte" name="vertex"/>
                                    <xs:attribute type="xs:byte" name="parent"/>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="mxGeometry" minOccurs="0">
                                  <xs:complexType mixed="true">
                                    <xs:sequence>
                                      <xs:element name="mxPoint" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute type="xs:short" name="x" use="optional"/>
                                              <xs:attribute type="xs:short" name="y" use="optional"/>
                                              <xs:attribute type="xs:string" name="as" use="optional"/>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:short" name="x" use="optional"/>
                                    <xs:attribute type="xs:short" name="y" use="optional"/>
                                    <xs:attribute type="xs:short" name="width" use="optional"/>
                                    <xs:attribute type="xs:short" name="height" use="optional"/>
                                    <xs:attribute type="xs:string" name="as" use="optional"/>
                                    <xs:attribute type="xs:byte" name="relative" use="optional"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="label" use="optional"/>
                              <xs:attribute type="xs:byte" name="treeRoot" use="optional"/>
                              <xs:attribute type="xs:string" name="id" use="optional"/>
                              <xs:attribute type="xs:string" name="value" use="optional"/>
                              <xs:attribute type="xs:string" name="style" use="optional"/>
                              <xs:attribute type="xs:byte" name="vertex" use="optional"/>
                              <xs:attribute type="xs:string" name="parent" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:choice>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:short" name="dx" use="optional"/>
                  <xs:attribute type="xs:short" name="dy" use="optional"/>
                  <xs:attribute type="xs:byte" name="grid" use="optional"/>
                  <xs:attribute type="xs:byte" name="gridSize" use="optional"/>
                  <xs:attribute type="xs:byte" name="guides" use="optional"/>
                  <xs:attribute type="xs:byte" name="tooltips" use="optional"/>
                  <xs:attribute type="xs:byte" name="connect" use="optional"/>
                  <xs:attribute type="xs:byte" name="arrows" use="optional"/>
                  <xs:attribute type="xs:byte" name="fold" use="optional"/>
                  <xs:attribute type="xs:byte" name="page" use="optional"/>
                  <xs:attribute type="xs:byte" name="pageScale" use="optional"/>
                  <xs:attribute type="xs:short" name="pageWidth" use="optional"/>
                  <xs:attribute type="xs:short" name="pageHeight" use="optional"/>
                  <xs:attribute type="xs:byte" name="math" use="optional"/>
                  <xs:attribute type="xs:byte" name="shadow" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="name" use="optional"/>
            <xs:attribute type="xs:string" name="id" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="host"/>
      <xs:attribute type="xs:string" name="agent"/>
      <xs:attribute type="xs:string" name="version"/>
      <xs:attribute type="xs:byte" name="pages"/>
    </xs:complexType>
  </xs:element>
</xs:schema>